<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="user id=sa;password=secret;Data Source=.\SQL2016;Initial Catalog=sitecore_core" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="master" connectionString="user id=sa;password=secret;Data Source=.\SQL2016;Initial Catalog=sitecore_master" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>
