<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:set="http://www.sitecore.net/xmlconfig/set">
  <sitecore>
    <sc.variable name="unicornFolder" value="C:\Code\myproject\Src\Serialization\$(configurationName)" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    <sc.variable name="dataFolder" set:value="C:\Websites\myWebsite\Data" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    <pipelines xdt:Transform="Insert">
      <initialize>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>
    <sites>
      <site name="mysite" set:hostName="mysite.localhost" set:database="master" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </sites>
    <scheduling xdt:Transform="Insert">
      <agent type="Configuration.Marketing.Contacts.Import.TaskRunner, MyProject.Marketing" set:interval="00:00:00" />
    </scheduling>
    <settings>
      <setting name="ContactImport.LogRecipient" set:value="x@xx.com" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      <setting name="ContactImport.CSVFilePath" value="C:\Websites\mysite\Data\CSVImport\contacts.csv" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      <setting name="Counters.Enabled" set:value="false" xdt:Transform="Insert"/>
      <setting name="EnableEventQueues" set:value="false" xdt:Transform="Insert"/>
    </settings>
  </sitecore>
</configuration>
